.field {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 7px;
}

.button {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.button:hover {
    cursor: pointer;
    opacity: 0.8;
}
